## Librerias

In [7]:
import pandas as pd
import numpy as np
import os
import textwrap
import matplotlib.pyplot as plt

import re

In [9]:
#!pip install pyjanitor

In [11]:
#!pip install skimpy

In [53]:
#!pip install -U dataprep

Collecting dataprep
  Using cached dataprep-0.4.5-py3-none-any.whl (9.9 MB)
Collecting regex<2022.0.0,>=2021.8.3
  Using cached regex-2021.11.10-cp39-cp39-win_amd64.whl (273 kB)
Requirement already satisfied: pandas<2.0,>=1.1 in c:\users\dell\anaconda3\lib\site-packages (from dataprep) (1.4.2)
Collecting flask_cors<4.0.0,>=3.0.10
  Using cached Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Collecting python-stdnum<2.0,>=1.16
  Using cached python_stdnum-1.18-py2.py3-none-any.whl (1.0 MB)
Collecting pydantic<2.0,>=1.6
  Using cached pydantic-1.10.7-cp39-cp39-win_amd64.whl (2.2 MB)
Collecting python-crfsuite==0.9.8
  Using cached python_crfsuite-0.9.8-cp39-cp39-win_amd64.whl (158 kB)
Requirement already satisfied: nltk<4.0.0,>=3.6.7 in c:\users\dell\anaconda3\lib\site-packages (from dataprep) (3.7)
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
Collecting dask[array,dataframe,delayed]>=2022.3.0
  Using cached dask-2023.3.1-py3-none-any.whl (1.2 MB)
Requirement already satisfied: bokeh<3,>=2 in c:\users\dell\anaconda3\lib\site-packages (from dataprep) (2.4.2)
Collecting rapidfuzz<3.0.0,>=2.1.2
  Using cached rapidfuzz-2.13.7-cp39-cp39-win_amd64.whl (1.0 MB)
Requirement already satisfied: numpy<2.0,>=1.21 in c:\users\dell\anaconda3\lib\site-packages (from dataprep) (1.24.2)
Collecting flask<3,>=2
  Using cached Flask-2.2.3-py3-none-any.whl (101 kB)
Collecting wordcloud<2.0,>=1.8
  Using cached wordcloud-1.8.2.2-cp39-cp39-win_amd64.whl (153 kB)
Requirement already satisfied: aiohttp<4.0,>=3.6 in c:\users\dell\anaconda3\lib\site-packages (from dataprep) (3.8.1)
Requirement already satisfied: tqdm<5.0,>=4.48 in c:\users\dell\anaconda3\lib\site-packages (from dataprep) (4.64.0)
Collecting jinja2<3.1,>=3.0
  Using cached Jinja2-3.0.3-py3-none-any.whl (133 kB)
Collecting metaphone<0.7,>=0.6
  Using cached Metaphone-0.6-py3-none-any.whl
Collecting jsonpath-ng<2.0,>=1.5
  Using cached jsonpath_ng-1.5.3-py3-none-any.whl (29 kB)
Collecting varname<0.9.0,>=0.8.1
  Using cached varname-0.8.3-py3-none-any.whl (21 kB)
Collecting scipy<2.0,>=1.8
  Using cached scipy-1.10.1-cp39-cp39-win_amd64.whl (42.5 MB)
Collecting pydot<2.0.0,>=1.4.2
  Using cached pydot-1.4.2-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: ipywidgets<8.0,>=7.5 in c:\users\dell\anaconda3\lib\site-packages (from dataprep) (7.6.5)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\dell\anaconda3\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\dell\anaconda3\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (4.0.1)
Requirement already satisfied: attrs>=17.3.0 in c:\users\dell\anaconda3\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (21.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\dell\anaconda3\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (5.1.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (2.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\dell\anaconda3\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.6.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\dell\anaconda3\lib\site-packages (from aiohttp<4.0,>=3.6->dataprep) (1.2.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\dell\anaconda3\lib\site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp<4.0,>=3.6->dataprep) (4.1.1)
Requirement already satisfied: tornado>=5.1 in c:\users\dell\anaconda3\lib\site-packages (from bokeh<3,>=2->dataprep) (6.1)
Requirement already satisfied: packaging>=16.8 in c:\users\dell\anaconda3\lib\site-packages (from bokeh<3,>=2->dataprep) (21.3)
Requirement already satisfied: PyYAML>=3.10 in c:\users\dell\anaconda3\lib\site-packages (from bokeh<3,>=2->dataprep) (6.0)
Requirement already satisfied: pillow>=7.1.0 in c:\users\dell\anaconda3\lib\site-packages (from bokeh<3,>=2->dataprep) (9.0.1)
Requirement already satisfied: cloudpickle>=1.1.1 in c:\users\dell\anaconda3\lib\site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (2.0.0)
Requirement already satisfied: partd>=1.2.0 in c:\users\dell\anaconda3\lib\site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (1.2.0)
Requirement already satisfied: click>=7.0 in c:\users\dell\anaconda3\lib\site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (8.1.3)
Requirement already satisfied: toolz>=0.8.2 in c:\users\dell\anaconda3\lib\site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (0.11.2)
Requirement already satisfied: fsspec>=0.6.0 in c:\users\dell\anaconda3\lib\site-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (2022.2.0)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from click>=7.0->dask[array,dataframe,delayed]>=2022.3.0->dataprep) (0.4.4)
Requirement already satisfied: importlib-metadata>=3.6.0 in c:\users\dell\anaconda3\lib\site-packages (from flask<3,>=2->dataprep) (4.11.3)
Collecting Werkzeug>=2.2.2
  Using cached Werkzeug-2.2.3-py3-none-any.whl (233 kB)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from flask<3,>=2->dataprep) (2.0.1)
Requirement already satisfied: Six in c:\users\dell\anaconda3\lib\site-packages (from flask_cors<4.0.0,>=3.0.10->dataprep) (1.16.0)
Requirement already satisfied: zipp>=0.5 in c:\users\dell\anaconda3\lib\site-packages (from importlib-metadata>=3.6.0->flask<3,>=2->dataprep) (3.7.0)
Requirement already satisfied: ipython>=4.0.0 in c:\users\dell\anaconda3\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (8.2.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\dell\anaconda3\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.3.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\dell\anaconda3\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.1.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\dell\anaconda3\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.5.2)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\dell\anaconda3\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (6.9.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\dell\anaconda3\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\dell\anaconda3\lib\site-packages (from ipywidgets<8.0,>=7.5->dataprep) (1.0.0)
Requirement already satisfied: jupyter-client<8.0 in c:\users\dell\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (6.1.12)
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in c:\users\dell\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (0.1.2)
Requirement already satisfied: nest-asyncio in c:\users\dell\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (1.5.5)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\dell\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (1.5.1)
Requirement already satisfied: stack-data in c:\users\dell\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.18.1)
Requirement already satisfied: backcall in c:\users\dell\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (61.2.0)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\dell\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.11.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from jinja2<3.1,>=3.0->dataprep) (2.1.2)

ERROR: Could not install packages due to an OSError: [WinError 5] Acceso denegado: 'C:\\Users\\DELL\\AppData\\Local\\Temp\\pip-uninstall-ketm_o70\\flask.exe'
Consider using the `--user` option or check the permissions.

Collecting ply
  Using cached ply-3.11-py2.py3-none-any.whl (49 kB)
Requirement already satisfied: jupyter-core>=4.6.0 in c:\users\dell\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (4.9.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dell\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (2.8.2)
Requirement already satisfied: pyzmq>=13 in c:\users\dell\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (22.3.0)
Requirement already satisfied: pywin32>=1.0 in c:\users\dell\anaconda3\lib\site-packages (from jupyter-core>=4.6.0->jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (302)
Requirement already satisfied: jsonschema>=2.6 in c:\users\dell\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (4.4.0)
Requirement already satisfied: fastjsonschema in c:\users\dell\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (2.15.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\dell\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (0.18.0)
Requirement already satisfied: joblib in c:\users\dell\anaconda3\lib\site-packages (from nltk<4.0.0,>=3.6.7->dataprep) (1.1.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\dell\anaconda3\lib\site-packages (from packaging>=16.8->bokeh<3,>=2->dataprep) (3.0.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas<2.0,>=1.1->dataprep) (2021.3)
Requirement already satisfied: locket in c:\users\dell\anaconda3\lib\site-packages (from partd>=1.2.0->dask[array,dataframe,delayed]>=2022.3.0->dataprep) (0.2.1)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.5)
Collecting typing-extensions>=3.6.5
  Using cached typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Requirement already satisfied: executing<0.9.0,>=0.8.3 in c:\users\dell\anaconda3\lib\site-packages (from varname<0.9.0,>=0.8.1->dataprep) (0.8.3)
Requirement already satisfied: asttokens<3.0.0,>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from varname<0.9.0,>=0.8.1->dataprep) (2.0.5)
Requirement already satisfied: pure_eval<1.0.0 in c:\users\dell\anaconda3\lib\site-packages (from varname<0.9.0,>=0.8.1->dataprep) (0.2.2)
Requirement already satisfied: notebook>=4.4.1 in c:\users\dell\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (6.4.8)
Requirement already satisfied: nbconvert in c:\users\dell\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (6.4.4)
Requirement already satisfied: terminado>=0.8.3 in c:\users\dell\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.13.1)
Requirement already satisfied: prometheus-client in c:\users\dell\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.13.1)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\dell\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (1.8.0)
Requirement already satisfied: argon2-cffi in c:\users\dell\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (21.3.0)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\dell\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (2.0.2)
Requirement already satisfied: matplotlib in c:\users\dell\anaconda3\lib\site-packages (from wordcloud<2.0,>=1.8->dataprep) (3.5.1)
Requirement already satisfied: idna>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp<4.0,>=3.6->dataprep) (3.3)
Requirement already satisfied: argon2-cffi-bindings in c:\users\dell\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (1.15.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (2.21)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (0.11.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.13)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.4)
Requirement already satisfied: jupyterlab-pygments in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.1.2)
Requirement already satisfied: beautifulsoup4 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (4.11.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.4)
Requirement already satisfied: bleach in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (4.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (1.5.0)
Requirement already satisfied: defusedxml in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.1)
Requirement already satisfied: testpath in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (2.3.1)
Requirement already satisfied: webencodings in c:\users\dell\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.1)
Installing collected packages: jinja2, Werkzeug, typing-extensions, regex, ply, flask, dask, wordcloud, varname, sqlalchemy, scipy, rapidfuzz, python-stdnum, python-crfsuite, pydot, pydantic, metaphone, jsonpath-ng, flask-cors, dataprep
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 2.0.3
    Uninstalling Werkzeug-2.0.3:
      Successfully uninstalled Werkzeug-2.0.3
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
  Attempting uninstall: regex
    Found existing installation: regex 2022.3.15
    Uninstalling regex-2022.3.15:
      Successfully uninstalled regex-2022.3.15
  Attempting uninstall: flask
    Found existing installation: Flask 1.1.2
    Uninstalling Flask-1.1.2:
      Successfully uninstalled Flask-1.1.2

## Carga de datos

In [20]:
import janitor

df = pd.read_excel('../data/base.xlsx').clean_names() #.remove_empty()
df.head(3)

,descripcion,ubicacion,precio_uf,precio_pesos,construido,dormitorio,banio,coordenadas,superficie_total,superficie_util,cantidad_pisos_edificio,departamentos_por_piso,piso_departamento,orientacion,antiguedad,gastos_comunes,estacionamiento,bodega
0,No deje de visitar... gran departamento u ofic...,"Av. Providencia 1200 - 1500, Providencia, Chil...",183000000pesos,NaN,103m² totales,4,2.0,"-33.4281852,-70.618222",103 m²,103 m²,6.0,4.0,6.0,N,50 años,45000 CLP,NaN,NaN
1,Excelente departamento en Av. El Llano Suberca...,"Llano Subercaseaux, San Miguel, Chile, El Llan...",5290,159603664.0,90m² totales,2,2.0,"-33.4851468,-70.6504044",90 m²,80 m²,21.0,4.0,19.0,S,10 años,90000 CLP,1.0,1.0
2,Este exquisito departamento está prácticamente...,"Estoril 750, Las Condes, Chile, Estoril, Las C...",17300,521955273.0,238m² totales,3,2.0,"-33.3878283,-70.528925",238 m²,178 m²,1.0,4.0,1.0,S,2 años,350000 CLP,2.0,1.0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   descripcion              1548 non-null   object
 1   ubicacion                1543 non-null   object
 2   precio_uf                1548 non-null   object
 3   precio_pesos             1267 non-null   float64
 4   construido               1548 non-null   object
 5   dormitorio               1548 non-null   object
 6   banio                    1540 non-null   float64
 7   coordenadas              1548 non-null   object
 8   superficie_total         1544 non-null   object
 9   superficie_util          1546 non-null   object
 10  cantidad_pisos_edificio  1060 non-null   float64
 11  departamentos_por_piso   833 non-null    float64
 12  piso_departamento        1086 non-null   float64
 13  orientacion              921 non-null    object
 14  antiguedad               1041 non-null   object
 15  gastos_comunes           1379 non-null   object
 16  estacionamiento          1039 non-null   float64
 17  bodega                   973 non-null    float64
dtypes: float64(7), object(11)
memory usage: 217.8+ KB

La columna $precio\_uf$ es de tipo object y tiene observaciones del tipo "183000000pesos", como observaciones del tipo "5290".

Se utiliza este input como la variable a predecir, ya que no cuenta con variables perdidas, como ocurre con la varibale $precio\_pesos$

In [22]:
# Definimos una función para obtener el valor numérico de una cadena de texto
def obtener_valor_numerico(cadena):
    numeros = re.findall('\d+', cadena)
    if numeros:
        return int(numeros[0])
    else:
        return None

<>:3: DeprecationWarning: invalid escape sequence \d
<>:3: DeprecationWarning: invalid escape sequence \d
C:\Users\DELL\AppData\Local\Temp\ipykernel_9040\1170380848.py:3: DeprecationWarning: invalid escape sequence \d
  numeros = re.findall('\d+', cadena)

In [19]:
# se convierte a str para poder aplicar algunos métodos de str
df['precio_uf'] = df['precio_uf'].astype(str) 

# Aplicamos la función a la columna 'Precio_uf' del DataFrame
df['valor_numerico_precio'] = df['precio_uf'].apply(obtener_valor_numerico)

# Multiplicamos por 35000 los valores que son numéricos pero no tienen la estructura '1234pesos'
df.loc[df['valor_numerico_precio'].notnull() & (df['precio_uf'].str.contains('pesos')==False), 'valor_numerico_precio'] *= 35000

df = df.drop(columns=['precio_uf', 'precio_pesos'], axis=1)

KeyError: 'precio_uf'

In [18]:
df.head(3)

,descripcion,ubicacion,precio_pesos,construido,dormitorio,banio,coordenadas,superficie_total,superficie_util,cantidad_pisos_edificio,departamentos_por_piso,piso_departamento,orientacion,antiguedad,gastos_comunes,estacionamiento,bodega,valor_numerico_precio
0,No deje de visitar... gran departamento u ofic...,"Av. Providencia 1200 - 1500, Providencia, Chil...",NaN,103m² totales,4,2.0,"-33.4281852,-70.618222",103 m²,103 m²,6.0,4.0,6.0,N,50 años,45000 CLP,NaN,NaN,183000000
1,Excelente departamento en Av. El Llano Suberca...,"Llano Subercaseaux, San Miguel, Chile, El Llan...",159603664.0,90m² totales,2,2.0,"-33.4851468,-70.6504044",90 m²,80 m²,21.0,4.0,19.0,S,10 años,90000 CLP,1.0,1.0,185150000
2,Este exquisito departamento está prácticamente...,"Estoril 750, Las Condes, Chile, Estoril, Las C...",521955273.0,238m² totales,3,2.0,"-33.3878283,-70.528925",238 m²,178 m²,1.0,4.0,1.0,S,2 años,350000 CLP,2.0,1.0,605500000

In [122]:

palabra = 'pesos'
for precio_uf in data['Precio_uf']:
    if palabra in precio_uf:
        data['nuevo'] = precio_uf.replace(palabra, '')
    else:
        data['nuevo'] = precio_uf
data.head()

,Descripcion,Ubicacion,Precio_uf,Precio_pesos,Construido,Dormitorio,Banio,Coordenadas,Superficie_total,Superficie_util,Cantidad_pisos_edificio,Departamentos_por_piso,Piso_departamento,Orientacion,Antiguedad,Gastos_comunes,Estacionamiento,Bodega,nuevo
0,No deje de visitar... gran departamento u ofic...,"Av. Providencia 1200 - 1500, Providencia, Chil...",183000000pesos,NaN,103m² totales,4,2.0,"-33.4281852,-70.618222",103 m²,103 m²,6.0,4.0,6.0,N,50 años,45000 CLP,NaN,NaN,19990
1,Excelente departamento en Av. El Llano Suberca...,"Llano Subercaseaux, San Miguel, Chile, El Llan...",5290,159603664.0,90m² totales,2,2.0,"-33.4851468,-70.6504044",90 m²,80 m²,21.0,4.0,19.0,S,10 años,90000 CLP,1.0,1.0,19990
2,Este exquisito departamento está prácticamente...,"Estoril 750, Las Condes, Chile, Estoril, Las C...",17300,521955273.0,238m² totales,3,2.0,"-33.3878283,-70.528925",238 m²,178 m²,1.0,4.0,1.0,S,2 años,350000 CLP,2.0,1.0,19990
3,"Excelente ubicación, calle Román Díaz a pasos ...","Román Díaz, Providencia, Chile, Manuel Montt, ...",7950,239858059.0,99.36m² totales,3,2.0,"-33.4329283,-70.6207964",99.36 m²,74 m²,NaN,NaN,NaN,NP,14 años,120000 CLP,1.0,1.0,19990
4,Se vende hermoso departamento en comuna de Ñuñ...,"Francisco De Villagra 77, Ñuñoa, Chile, Plaza ...",4800,144819960.0,75m² totales,2,2.0,"-33.454802,-70.5753435",75 m²,72 m²,24.0,8.0,1.0,N,15 años,84000 CLP,1.0,1.0,19990

,Descripcion,Ubicacion,Precio_uf,Precio_pesos,Construido,Dormitorio,Banio,Coordenadas,Superficie_total,Superficie_util,Cantidad_pisos_edificio,Departamentos_por_piso,Piso_departamento,Orientacion,Antiguedad,Gastos_comunes,Estacionamiento,Bodega
0,No deje de visitar... gran departamento u ofic...,"Av. Providencia 1200 - 1500, Providencia, Chil...",97000000,NaN,103m² totales,4,2.0,"-33.4281852,-70.618222",103 m²,103 m²,6.0,4.0,6.0,N,50 años,45000 CLP,NaN,NaN
1,Excelente departamento en Av. El Llano Suberca...,"Llano Subercaseaux, San Miguel, Chile, El Llan...",97000000,159603664.0,90m² totales,2,2.0,"-33.4851468,-70.6504044",90 m²,80 m²,21.0,4.0,19.0,S,10 años,90000 CLP,1.0,1.0
2,Este exquisito departamento está prácticamente...,"Estoril 750, Las Condes, Chile, Estoril, Las C...",97000000,521955273.0,238m² totales,3,2.0,"-33.3878283,-70.528925",238 m²,178 m²,1.0,4.0,1.0,S,2 años,350000 CLP,2.0,1.0
3,"Excelente ubicación, calle Román Díaz a pasos ...","Román Díaz, Providencia, Chile, Manuel Montt, ...",97000000,239858059.0,99.36m² totales,3,2.0,"-33.4329283,-70.6207964",99.36 m²,74 m²,NaN,NaN,NaN,NP,14 años,120000 CLP,1.0,1.0
4,Se vende hermoso departamento en comuna de Ñuñ...,"Francisco De Villagra 77, Ñuñoa, Chile, Plaza ...",97000000,144819960.0,75m² totales,2,2.0,"-33.454802,-70.5753435",75 m²,72 m²,24.0,8.0,1.0,N,15 años,84000 CLP,1.0,1.0

In [81]:
data['Precio_uf'][data['Precio_uf'].method.str.contains('pesos')]

AttributeError: 'Series' object has no attribute 'method'

In [79]:
def buscar_palabra(columna, palabra):
    resp =[]
    if palabra in columna:
        resp = columna.replace("pesos", "")
    else:
        resp = columna * 35000

In [78]:
data['precio_pesos'] = data['Precio_uf'].apply(lambda x: buscar_palabra(data, x, 'pesos'))

In [74]:
data['precio_pesos'] = data['Precio_uf'].replace("pesos", "")

In [80]:
data.head()

,Descripcion,Ubicacion,Precio_uf,Precio_pesos,Construido,Dormitorio,Banio,Coordenadas,Superficie_total,Superficie_util,...,Departamentos_por_piso,Piso_departamento,Orientacion,Antiguedad,Gastos_comunes,Estacionamiento,Bodega,Contiene_cadena_pesos,contiene_cadena_pesos,precio_pesos
0,No deje de visitar... gran departamento u ofic...,"Av. Providencia 1200 - 1500, Providencia, Chil...",183000000pesos,NaN,103m² totales,4,2.0,"-33.4281852,-70.618222",103 m²,103 m²,...,4.0,6.0,N,50 años,45000 CLP,NaN,NaN,1,1,None
1,Excelente departamento en Av. El Llano Suberca...,"Llano Subercaseaux, San Miguel, Chile, El Llan...",5290,159603664.0,90m² totales,2,2.0,"-33.4851468,-70.6504044",90 m²,80 m²,...,4.0,19.0,S,10 años,90000 CLP,1.0,1.0,0,0,None
2,Este exquisito departamento está prácticamente...,"Estoril 750, Las Condes, Chile, Estoril, Las C...",17300,521955273.0,238m² totales,3,2.0,"-33.3878283,-70.528925",238 m²,178 m²,...,4.0,1.0,S,2 años,350000 CLP,2.0,1.0,0,0,None
3,"Excelente ubicación, calle Román Díaz a pasos ...","Román Díaz, Providencia, Chile, Manuel Montt, ...",7950,239858059.0,99.36m² totales,3,2.0,"-33.4329283,-70.6207964",99.36 m²,74 m²,...,NaN,NaN,NP,14 años,120000 CLP,1.0,1.0,0,0,None
4,Se vende hermoso departamento en comuna de Ñuñ...,"Francisco De Villagra 77, Ñuñoa, Chile, Plaza ...",4800,144819960.0,75m² totales,2,2.0,"-33.454802,-70.5753435",75 m²,72 m²,...,8.0,1.0,N,15 años,84000 CLP,1.0,1.0,0,0,None

In [47]:
data['Contiene_cadena_pesos'].value_counts()

0    1267
1     281
Name: Contiene_cadena_pesos, dtype: int64

In [52]:
data['contiene_cadena_pesos'].value_counts()

0    1267
1     281
Name: contiene_cadena_pesos, dtype: int64

In [5]:
import janitor  # upon import, functions are registered as part of pandas.

# Esto limpia los nombres de las columnas
df = pd.read_excel('../data/base.xlsx').clean_names() #.remove_empty()
df.head(3)

,descripcion,ubicacion,precio_uf,precio_pesos,construido,dormitorio,banio,coordenadas,superficie_total,superficie_util,cantidad_pisos_edificio,departamentos_por_piso,piso_departamento,orientacion,antiguedad,gastos_comunes,estacionamiento,bodega
0,No deje de visitar... gran departamento u ofic...,"Av. Providencia 1200 - 1500, Providencia, Chil...",183000000pesos,NaN,103m² totales,4,2.0,"-33.4281852,-70.618222",103 m²,103 m²,6.0,4.0,6.0,N,50 años,45000 CLP,NaN,NaN
1,Excelente departamento en Av. El Llano Suberca...,"Llano Subercaseaux, San Miguel, Chile, El Llan...",5290,159603664.0,90m² totales,2,2.0,"-33.4851468,-70.6504044",90 m²,80 m²,21.0,4.0,19.0,S,10 años,90000 CLP,1.0,1.0
2,Este exquisito departamento está prácticamente...,"Estoril 750, Las Condes, Chile, Estoril, Las C...",17300,521955273.0,238m² totales,3,2.0,"-33.3878283,-70.528925",238 m²,178 m²,1.0,4.0,1.0,S,2 años,350000 CLP,2.0,1.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   descripcion              1548 non-null   object
 1   ubicacion                1543 non-null   object
 2   precio_uf                1548 non-null   object
 3   precio_pesos             1267 non-null   float64
 4   construido               1548 non-null   object
 5   dormitorio               1548 non-null   object
 6   banio                    1540 non-null   float64
 7   coordenadas              1548 non-null   object
 8   superficie_total         1544 non-null   object
 9   superficie_util          1546 non-null   object
 10  cantidad_pisos_edificio  1060 non-null   float64
 11  departamentos_por_piso   833 non-null    float64
 12  piso_departamento        1086 non-null   float64
 13  orientacion              921 non-null    object
 14  antiguedad               1041 non-null   object
 15  gastos_comunes           1379 non-null   object
 16  estacionamiento          1039 non-null   float64
 17  bodega                   973 non-null    float64
dtypes: float64(7), object(11)
memory usage: 217.8+ KB

In [24]:
from skimpy import skim

#skim(df[0:100])

In [52]:
from dataprep.eda import create_report

# create_report(train[1:10]) # Este proceso es lento

ModuleNotFoundError: No module named 'dataprep'

In [7]:
''' Esta funcion es una utilitaria para imprimir los nombres de columnas y 
que no toque hacer desplazamiento horizontal'''
wrapper = textwrap.TextWrapper(width=100)

In [8]:
# list( train.select_dtypes( include= 'integer') )  # Comando base
print( 'Columnas Object' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'object') ) ) ) )
print( 'Columnas Entero' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'integer') ) ) ) )
print( 'Columnas Float' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'floating') ) ) ) )
print( 'Columnas Verdadero Falso' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'bool') ) ) ) )
print( 'Columnas Categoricas' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'category') ) ) ) )
print( 'Columnas Fecha' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'datetime') ) ) ) )

Columnas Object
['descripcion', 'ubicacion', 'precio_uf', 'construido', 'dormitorio', 'coordenadas',
'superficie_total', 'superficie_util', 'orientacion', 'antiguedad', 'gastos_comunes']
Columnas Entero
[]
Columnas Float
['precio_pesos', 'banio', 'cantidad_pisos_edificio', 'departamentos_por_piso', 'piso_departamento',
'estacionamiento', 'bodega']
Columnas Verdadero Falso
[]
Columnas Categoricas
[]
Columnas Fecha
[]

In [9]:
# Columnas object
cols_obj= ['descripcion', 'ubicacion', 'precio_uf', 'construido', 'dormitorio', 'coordenadas',
'superficie_total', 'superficie_util', 'orientacion', 'antiguedad', 'gastos_comunes']

# Columnas categoricas
cols_cat= []

# Columnas enteras
cols_int= []

# Columnas float
cols_float= ['precio_pesos', 'banio', 'cantidad_pisos_edificio', 'departamentos_por_piso', 'piso_departamento',
'estacionamiento', 'bodega']

In [10]:
# cambiamos la columna de object a str para separar las columnas tipo 234UF
for col in df.columns:
  if col in cols_obj:
    df[col] = df[col].astype(str)

In [11]:
#df['banio'].value_counts()
len(df[df['dormitorio'] == '1baño'])

6

In [12]:
#df['precio_uf_nuevo'] = df['precio_uf'].str.extract('(\d+)').astype(int)

# En primer lugar aquellas columnas que tienen el valor numerico junto a la palabra ej: 185pesos
# Definimos la expresión regular para extraer la cantidad numérica
regex = r'(\d+)'

# Aplicamos la expresión regular a la columna "precio_uf"
df['precio_uf_nuevo'] = df['precio_uf'].apply(lambda x: float(re.findall(regex, x)[0]))
df['construido_nuevo'] = df['construido'].apply(lambda x: float(re.findall(regex, x)[0]))
#df['banio_nuevo'] = df['banio'].apply(lambda x: float(re.findall(regex, x)[0]))


# Ahora, para las columnas donde los valores estan separados por un espacio, se procede como:

# Dividimos la columna en dos partes separadas por el espacio en blanco
df[['superficie_total_nuevo', 'unidad1']] = df['superficie_total'].str.split(' ', n=1, expand=True)
# Convertimos la parte numérica en un valor numérico
df['superficie_total_nuevo'] = df['superficie_total_nuevo'].astype(float)


# Dividimos la columna en dos partes separadas por el espacio en blanco
df[['superficie_util_nuevo', 'unidad2']] = df['superficie_util'].str.split(' ', n=1, expand=True)
# Convertimos la parte numérica en un valor numérico
df['superficie_util_nuevo'] = df['superficie_util_nuevo'].astype(float)

# Dividimos la columna en dos partes separadas por el espacio en blanco
df[['antiguedad_nuevo', 'unidad3']] = df['antiguedad'].str.split(' ', n=1, expand=True)
# Convertimos la parte numérica en un valor numérico
df['antiguedad_nuevo'] = df['antiguedad_nuevo'].astype(float)

# Dividimos la columna en dos partes separadas por el espacio en blanco
df[['gastos_comunes_nuevo', 'unidad4']] = df['gastos_comunes'].str.split(' ', n=1, expand=True)
# Convertimos la parte numérica en un valor numérico
df['gastos_comunes_nuevo'] = df['gastos_comunes_nuevo'].astype(float)


#df['dormitorio'] = df['dormitorio'].astype(int)
#df['banio'] = df['banio'].astype(int)

df = df.drop(['precio_uf', 'construido', 'superficie_total', 'superficie_util', 'antiguedad', 'gastos_comunes',
             'unidad1', 'unidad2', 'unidad3', 'unidad4'], axis=1)

df.head(2)

,descripcion,ubicacion,precio_pesos,dormitorio,banio,coordenadas,cantidad_pisos_edificio,departamentos_por_piso,piso_departamento,orientacion,estacionamiento,bodega,precio_uf_nuevo,construido_nuevo,superficie_total_nuevo,superficie_util_nuevo,antiguedad_nuevo,gastos_comunes_nuevo
0,No deje de visitar... gran departamento u ofic...,"Av. Providencia 1200 - 1500, Providencia, Chil...",NaN,4,2.0,"-33.4281852,-70.618222",6.0,4.0,6.0,N,NaN,NaN,183000000.0,103.0,103.0,103.0,50.0,45000.0
1,Excelente departamento en Av. El Llano Suberca...,"Llano Subercaseaux, San Miguel, Chile, El Llan...",159603664.0,2,2.0,"-33.4851468,-70.6504044",21.0,4.0,19.0,S,1.0,1.0,5290.0,90.0,90.0,80.0,10.0,90000.0

In [13]:
df[['latitud', 'longitud']] = df['coordenadas'].str.split(',', expand=True)
df['latitud'] = df['latitud'].astype(float)
df['longitud'] = df['longitud'].astype(float)

df = df.drop(['coordenadas'], axis=1)

In [14]:
#df.head(3)
df.shape

(1548, 19)

In [15]:
# Se eliman 6 observaciones que no presentan una inconsistencia en la cantidad de dormitorios
df = df[df['dormitorio'] != '1baño']
df.shape

(1542, 19)

In [ ]:
#df[df['descripcion'].str.contains('baño')]

In [16]:
# Definimos la función para buscar la palabra en una frase
def buscar_palabra(frase, palabra):
    if palabra in frase:
        return 1
    else:
        return 0

In [17]:
# Aplicamos la función a la columna 'Frase' del DataFrame usando el método apply()
df['tiene_banio'] = df['descripcion'].apply(lambda x: buscar_palabra(x, 'baño'))
df['tiene_loggia']=df['descripcion'].apply(lambda x: buscar_palabra(x, 'loggia'))

In [18]:
df.head(2)

,descripcion,ubicacion,precio_pesos,dormitorio,banio,cantidad_pisos_edificio,departamentos_por_piso,piso_departamento,orientacion,estacionamiento,...,precio_uf_nuevo,construido_nuevo,superficie_total_nuevo,superficie_util_nuevo,antiguedad_nuevo,gastos_comunes_nuevo,latitud,longitud,tiene_banio,tiene_loggia
0,No deje de visitar... gran departamento u ofic...,"Av. Providencia 1200 - 1500, Providencia, Chil...",NaN,4,2.0,6.0,4.0,6.0,N,NaN,...,183000000.0,103.0,103.0,103.0,50.0,45000.0,-33.428185,-70.618222,1,0
1,Excelente departamento en Av. El Llano Suberca...,"Llano Subercaseaux, San Miguel, Chile, El Llan...",159603664.0,2,2.0,21.0,4.0,19.0,S,1.0,...,5290.0,90.0,90.0,80.0,10.0,90000.0,-33.485147,-70.650404,0,0

In [20]:
df['tiene_loggia'].value_counts()

0    1440
1     102
Name: tiene_loggia, dtype: int64

In [19]:
# con este codigo se identifica si existe alguna inconsistencia de la descricpcion con la existencia de baño
df[(df['banio'] == 0) & (df['tiene_banio'] != 0)]

Empty DataFrame
Columns: [descripcion, ubicacion, precio_pesos, dormitorio, banio, cantidad_pisos_edificio, departamentos_por_piso, piso_departamento, orientacion, estacionamiento, bodega, precio_uf_nuevo, construido_nuevo, superficie_total_nuevo, superficie_util_nuevo, antiguedad_nuevo, gastos_comunes_nuevo, latitud, longitud, tiene_banio, tiene_loggia]
Index: []

[0 rows x 21 columns]

In [21]:
# cantidad de na
df.isnull().sum()

descripcion                  0
ubicacion                    0
precio_pesos               279
dormitorio                   0
banio                        2
cantidad_pisos_edificio    486
departamentos_por_piso     713
piso_departamento          462
orientacion                  0
estacionamiento            503
bodega                     570
precio_uf_nuevo              0
construido_nuevo             0
superficie_total_nuevo       2
superficie_util_nuevo        1
antiguedad_nuevo           506
gastos_comunes_nuevo       168
latitud                      0
longitud                     0
tiene_banio                  0
tiene_loggia                 0
dtype: int64

In [ ]:
#df['bodega'].dtype

In [22]:
df_na = df.copy()

In [28]:
#!python --version
#!pip3 install scipy
df_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1542 entries, 0 to 1547
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   descripcion              1542 non-null   object
 1   ubicacion                1542 non-null   object
 2   precio_pesos             1263 non-null   float64
 3   dormitorio               1542 non-null   object
 4   banio                    1540 non-null   float64
 5   cantidad_pisos_edificio  1056 non-null   float64
 6   departamentos_por_piso   829 non-null    float64
 7   piso_departamento        1080 non-null   float64
 8   orientacion              1542 non-null   object
 9   estacionamiento          1039 non-null   float64
 10  bodega                   972 non-null    float64
 11  precio_uf_nuevo          1542 non-null   float64
 12  construido_nuevo         1542 non-null   float64
 13  superficie_total_nuevo   1540 non-null   float64
 14  superficie_util_nuevo    1541 non-null   float64
 15  antiguedad_nuevo         1036 non-null   float64
 16  gastos_comunes_nuevo     1374 non-null   float64
 17  latitud                  1542 non-null   float64
 18  longitud                 1542 non-null   float64
 19  tiene_banio              1542 non-null   int64
 20  tiene_loggia             1542 non-null   int64
dtypes: float64(15), int64(2), object(4)
memory usage: 265.0+ KB

In [38]:
#for i in var_numericas:
#  plt.figure()
#  sns.histplot(x = i, data = df_train)

#plt.hist(np.log1p(df['precio_uf_nuevo']));
df['precio_uf_nuevo'].sort_values(ascending=False)
 229.000.000

1112    310000000.0
856     285000000.0
1541    270000000.0
1226    248000000.0
1295    229000000.0
           ...
503           580.0
647           413.0
449           348.0
1286           27.0
563             1.0
Name: precio_uf_nuevo, Length: 1542, dtype: float64

In [ ]:
sns.

In [24]:
# Cantidad de datos faltantes

df.isnull().sum().sum()
#(df['precio_pesos']).dtype

3692

In [48]:
df_na['precio_pesos'] = df_na['precio_uf_nuevo'] * 35000

In [49]:
columnas = df.columns
columna_numericas = df_na._get_numeric_data()
columna_numericas.head()
#columnas

,precio_pesos,banio,cantidad_pisos_edificio,departamentos_por_piso,piso_departamento,estacionamiento,bodega,precio_uf_nuevo,construido_nuevo,superficie_total_nuevo,superficie_util_nuevo,antiguedad_nuevo,gastos_comunes_nuevo,latitud,longitud,tiene_banio
0,6.405000e+12,2.0,6.0,4.0,6.0,NaN,NaN,183000000.0,103.0,103.00,103.0,50.0,45000.0,-33.428185,-70.618222,1
1,1.851500e+08,2.0,21.0,4.0,19.0,1.0,1.0,5290.0,90.0,90.00,80.0,10.0,90000.0,-33.485147,-70.650404,0
2,6.055000e+08,2.0,1.0,4.0,1.0,2.0,1.0,17300.0,238.0,238.00,178.0,2.0,350000.0,-33.387828,-70.528925,1
3,2.782500e+08,2.0,NaN,NaN,NaN,1.0,1.0,7950.0,99.0,99.36,74.0,14.0,120000.0,-33.432928,-70.620796,0
4,1.680000e+08,2.0,24.0,8.0,1.0,1.0,1.0,4800.0,75.0,75.00,72.0,15.0,84000.0,-33.454802,-70.575344,1

In [55]:
from skimpy import skim

skim(df_na)

┌────────────────────────────────────────────────── skimpy summary ───────────────────────────────────────────────────┐
│          Data Summary                Data Types                                                                     │
│ ┌───────────────────┬────────┐ ┌─────────────┬───────┐                                                              │
│ │ dataframe         │ Values │ │ Column Type │ Count │                                                              │
│ ├───────────────────┼────────┤ ├─────────────┼───────┤                                                              │
│ │ Number of rows    │ 1542   │ │ float64     │ 15    │                                                              │
│ │ Number of columns │ 20     │ │ string      │ 4     │                                                              │
│ └───────────────────┴────────┘ │ int32       │ 1     │                                                              │
│                                └─────────────┴───────┘                                                              │
│                                                       number                                                        │
│ ┌──────────────┬─────┬───────┬─────────────┬──────────────┬───────┬───────────┬───────────┬─────────────┬────────┐  │
│ │ column_name  │ NA  │ NA %  │ mean        │ sd           │ p0    │ p25       │ p75       │ p100        │ hist   │  │
│ ├──────────────┼─────┼───────┼─────────────┼──────────────┼───────┼───────────┼───────────┼─────────────┼────────┤  │
│ │ precio_pesos │   0 │     0 │ 62000000000 │ 150000000000 │ 35000 │ 120000000 │ 440000000 │ 11000000000 │   █▁   │  │
│ │              │     │       │           0 │            0 │       │           │           │         000 │        │  │
│ │ banio        │   2 │  0.13 │         1.8 │         0.83 │     1 │         1 │         2 │           6 │  ▇█▂▁  │  │
│ │ cantidad_pis │ 490 │    32 │       84000 │      2700000 │     1 │         5 │        18 │    89000000 │   █    │  │
│ │ os_edifi     │     │       │             │              │       │           │           │             │        │  │
│ │ departamento │ 710 │    46 │         6.7 │           22 │     1 │         4 │         8 │         620 │   █    │  │
│ │ s_por_pi     │     │       │             │              │       │           │           │             │        │  │
│ │ piso_departa │ 460 │    30 │          28 │          140 │     1 │         3 │        13 │        2000 │   █    │  │
│ │ mento        │     │       │             │              │       │           │           │             │        │  │
│ │ estacionamie │ 500 │    33 │         1.3 │         0.59 │     1 │         1 │         1 │           5 │   █▂   │  │
│ │ nto          │     │       │             │              │       │           │           │             │        │  │
│ │ bodega       │ 570 │    37 │           1 │         0.19 │     1 │         1 │         1 │           3 │   █    │  │
│ │ precio_uf_nu │   0 │     0 │    18000000 │     43000000 │     1 │      3300 │     13000 │   310000000 │   █▁   │  │
│ │ evo          │     │       │             │              │       │           │           │             │        │  │
│ │ construido_n │   0 │     0 │          92 │          320 │     1 │        45 │        94 │       11000 │   █    │  │
│ │ uevo         │     │       │             │              │       │           │           │             │        │  │
│ │ superficie_t │   2 │  0.13 │          92 │          320 │     1 │        45 │        94 │       11000 │   █    │  │
│ │ otal_nue     │     │       │             │              │       │           │           │             │        │  │
│ │ superficie_u │   1 │ 0.065 │          83 │          280 │     1 │        44 │        86 │        9800 │   █    │  │
│ │ til_nuev     │     │       │             │              │       │           │           │             │        │  │
│ │ antiguedad_n │ 510 │    33 │          95 │          390 │     0 │         5 │        20 │        2000 │   █    │  │
│ │ uevo         │     │       │             │              │       │           │           │             │        │  │
│ │ gastos_comun │ 170 │    11 │      150000 │      1800000 │     0 │     50000 │    120000 │    68000000 │   █    │  │
│ │ es_nuevo     │     │       │             │              │       │           │           │             │        │  │
│ │ latitud      │   0 │     0 │         -33 │         0.04 │   -34 │       -33 │       -33 │         -33 │   ▁▅█▁ │  │
│ │ longitud     │   0 │     0 │         -71 │        0.056 │   -71 │       -71 │       -71 │         -70 │    ▇█  │  │
│ │ tiene_banio  │   0 │     0 │        0.66 │         0.47 │     0 │         0 │         1 │           1 │ ▄    █ │  │
│ └──────────────┴─────┴───────┴─────────────┴──────────────┴───────┴───────────┴───────────┴─────────────┴────────┘  │
│                                                       string                                                        │
│ ┌────────────────────────────┬─────────┬─────────────┬────────────────────────────────┬──────────────────────────┐  │
│ │ column_name                │ NA      │ NA %        │ words per row                  │ total words              │  │
│ ├────────────────────────────┼─────────┼─────────────┼────────────────────────────────┼──────────────────────────┤  │
│ │ descripcion                │       0 │           0 │                             91 │                   140000 │  │
│ │ ubicacion                  │       0 │           0 │                             91 │                   140000 │  │
│ │ dormitorio                 │       0 │           0 │                             91 │                   140000 │  │
│ │ orientacion                │       0 │           0 │                             91 │                   140000 │  │
│ └────────────────────────────┴─────────┴─────────────┴────────────────────────────────┴──────────────────────────┘  │
└──────────────────────────────────────────────────────── End ────────────────────────────────────────────────────────┘

In [56]:
#from dataprep.eda import create_report

#create_report(df_na) # Este proceso es lento

ModuleNotFoundError: No module named 'dataprep'

In [ ]:
for col in df_na.columns:
    if train[col].dtypes == "object":
        print("-----")
        print(col)
        print("UNICOS: "+ str(df_na[col].nunique()))
        print(df_na[col].value_counts(dropna=False))
        print("-----")

In [ ]:
#df_na['precio_pesos'] = df_na['precio_pesos'].fillna(0)
#df_na.isnull().sum()

import seaborn as sns

for i in columna_numericas:
  plt.figure()
  sns.histplot(x = i, data = df_na)

C:\Users\DELL\anaconda3\lib\site-packages\seaborn\rcmod.py:82: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if LooseVersion(mpl.__version__) >= "3.0":
C:\Users\DELL\anaconda3\lib\site-packages\setuptools\_distutils\version.py:351: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  other = LooseVersion(other)

In [ ]:
# Box plot
for i in columna_numericas:
  plt.figure()
  sns.boxplot(y = i,
              #x =grupo
             data = df_na
             )

In [ ]:
for i in columna_numericas:
  plt.figure()
  sns.violinplot(y = i,
                 #x = "default" ,
                 data = df_na
                 )

In [ ]:
# imputando valores perdidos con vecinos mas cercanos
import scipy
from scipy import stats
from sklearn.impute import KNNImputer

# Crea una instancia de la técnica de vecinos más cercanos
imputer = KNNImputer(n_neighbors=5, weights="uniform", metric='nan_euclidean')


# Imputa los valores faltantes utilizando la técnica de vecinos más cercanos
df_imputados = imputer.fit_transform(columna_numericas)

#df_na['superficie_total_nuevo'] = pd.DataFrame(imputer.fit_transform(df_na['superficie_total_nuevo'])) #, columns=df_na.superficie_total_nuevo)

In [ ]:
# Definimos la función que reemplazará los valores faltantes con un valor específico
def reemplazar_nulos(columna, valor):
    return columna.fillna(valor)

# Aplicamos la función a una columna del DataFrame, reemplazando los valores faltantes por 0
df['estacionamiento'] = df['estacionamiento'].apply(reemplazar_nulos, valor=0)
df['bodega'] = df['bodega'].apply(reemplazar_nulos, valor=0)

In [ ]:
# list( train.select_dtypes( include= 'integer') )  # Comando base
print( 'Columnas Object' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'object') ) ) ) )
print( 'Columnas Entero' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'integer') ) ) ) )
print( 'Columnas Float' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'floating') ) ) ) )
print( 'Columnas Verdadero Falso' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'bool') ) ) ) )
print( 'Columnas Categoricas' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'category') ) ) ) )
print( 'Columnas Fecha' )
print( wrapper.fill( str( list( df.select_dtypes( include= 'datetime') ) ) ) )

In [ ]:
df.info()

In [ ]:
for column in df.columns:      
    if column in cols_cat_trns:
        train_transaction[column] = train_transaction[column].astype(str)
    elif column in cols_int_trns:
        train_transaction[column] = pd.to_numeric(
                      train_transaction[column], errors='coerce', downcast= 'integer' )        
    else:
        train_transaction[column] = pd.to_numeric(
                      train_transaction[column], errors='coerce')